
<div class="container-fluid">
<h1>Vender un producto</h1>
<p>Selecciona el tipo de producto que quieres vender.</p>


  <hr width="100%">

  <div class="container-fluid" style="background-color: white; margin: 30px;

          background-image: url('<%= image_path("personas.png").to_s %>');
          background-repeat: no-repeat;
          background-position: right;
          background-size: 430px 240px;
          box-shadow: 0px 0px 5px grey;
          border-radius: 8px;">
    <div class="row">

          <div class="col-sm-8">
           <h3>Personas</h3>
            <p>Lorem ipsum asdasdasdasdasd</p>
            <p>Lorem ipsum asdasdasdasdasd</p>
            <p>Lorem ipsum asdasdasdasdasd</p>
            <p>Lorem ipsum asdasdasdasdasd</p>
          </div>
      <br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>

  <div class="container-fluid" style="background-color: white; margin: 30px;

          background-image: url('<%= image_path("casa.png").to_s %>');
          background-repeat: no-repeat;
          background-position: right;
          background-size: 430px 240px;
          box-shadow: 0px 0px 5px grey;
          border-radius: 8px;">
    <div class="row">

      <div class="col-sm-8">
        <h3>Hogarr</h3>
        <p>Lorem ipsum asdasdasdasdasd</p>
        <p>Lorem ipsum asdasdasdasdasd</p>
        <p>Lorem ipsum asdasdasdasdasd</p>
        <p>Lorem ipsum asdasdasdasdasd</p>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>

  <div class="container-fluid" style="background-color: white; margin: 30px;

          background-image: url('<%= image_path("vehiculos.png").to_s %>');
          background-repeat: no-repeat;
          background-position: right;
          background-size: 430px 240px;
          box-shadow: 0px 0px 5px grey;
          border-radius: 8px;">
    <div class="row">

      <div class="col-sm-8">
        <h3>Vehiculos</h3>
        <p>Lorem ipsum asdasdasdasdasd</p>
        <p>Lorem ipsum asdasdasdasdasd</p>
        <p>Lorem ipsum asdasdasdasdasd</p>
        <p>Lorem ipsum asdasdasdasdasd</p>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>

  <div class="container-fluid" style="background-color: white; margin: 30px;

          background-image: url('<%= image_path("tecnologico.png").to_s %>');
          background-repeat: no-repeat;
          background-position: right;
          background-size: 430px 240px;
          box-shadow: 0px 0px 5px grey;
          border-radius: 8px;">
    <div class="row">

      <div class="col-sm-8">
        <h3>Tecnológicos</h3>
        <p>Lorem ipsum asdasdasdasdasd</p>
        <p>Lorem ipsum asdasdasdasdasd</p>
        <p>Lorem ipsum asdasdasdasdasd</p>
        <p>Lorem ipsum asdasdasdasdasd</p>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>

</div>